<div class="home-container">
  <div class="home-banner">
    where are you going to eat?
  </div>

  <div class="start-button">
    <button type="button" class="zp-button" (click)="handleClick()">find out</button>
  </div>

  <div class="home-instructions">

    <div class="instructions">
      <div class="instructions-number">1</div>
      <div class="instructions-text">pick food photos you like the most</div>
    </div>

    <div class="instructions">
      <div class="instructions-number">2</div>
      <div class="instructions-text">get top restaurant recommendations</div>
    </div>

  </div>
</div>