.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-header {
    height: 80px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .app-header {
        height: 120px;
    }
}

.app-content {
    background-color: white;
    flex: 1;
}
